*{
  margin: 0;
  padding: 0;
  color: inherit;
  border: 0 none;
  outline: 0 none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

*::-webit-scrollbar-thumb{
  background: red;
}
